In [27]:
import glob
import cv2
import numpy as np
import pandas as pd

images = [cv2.imread(file) for file in glob.glob(
    "C:/Users/Usuario/Downloads/PDI Exercicios/Python Scripts/datasetTest/*.png")]

len(images)

def GetArea(image):
    height = image.shape[0]
    width = image.shape[1]
    area = height * width

    return area


def ContournPerimeter(image):
    ret, thresh = cv2.threshold(image, 127, 255, 0)

    contours, hierarchy = cv2.findContours(
        image, cv2.RETR_CCOMP, cv2.CHAIN_APPROX_SIMPLE)

    cnt = contours[0]
    #M = cv2.moments(cnt)

    perimeter = cv2.arcLength(cnt, True)

    return perimeter

# def GetEnergy(image):


dictionaryList = []
for image in images:

    image = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

    #image = image / image.max()

    area = GetArea(image)
    perimeter = ContournPerimeter(image)
    #energy = GetEnergy(image)
    cat = 1

    dictionary = {
        "Area": area,
        "Perimetro": perimeter,
        #"Corr": corr,
        "Categoria": cat
    }
    # get input row in dictionary format
    # key = col_name

    #dict1.update(blah..)

    dictionaryList.append(dictionary)


df = pd.DataFrame(dictionaryList)

# df.to_csv("C:/Users/Usuario/Downloads/PDI Exercicios/Python Scripts/datasetTest/dataframe.txt",
#           header=False, sep=",", index=False)

In [28]:
df

     Area    Perimetro  Categoria
0  530322    30.485281          1
1  274813  2424.000000          1
2  481048  2784.000000          1
3  238220  1964.000000          1
4  220506  1882.000000          1